<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="{{ url_for('main.index') }}">
                            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
                             <div>HIPOTAP</div>
                        </a>
                    </div>
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('main.index') }}" class="button is-primary">
                                Home
                            </a>
                            <a href="{{ url_for('offers.get_offers') }}" class="button is-primary">
                                Offers
                            </a>
                            {% if session['authenticated'] %}
                            <a href="{{ url_for('main.profile') }}" class="button is-primary">
                                Profile
                            </a>
                            <form action="{{ url_for('auth.logout') }}" method="post">
                                <button type="submit" class="button is-primary">Logout</button>
                            </form>
                            {% else %}
                            <a href="{{ url_for('auth.login') }}" class="button is-primary">
                                Login
                            </a>
                            <a href="{{ url_for('auth.signup') }}" class="button is-primary">
                                Sign Up
                            </a>
                            {% endif%}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container has-text-centered">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="notification {{ category }}">
                    <button class="delete" onClick="this.parentNode.parentNode.removeChild(this.parentNode);"></button>
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>
