{% extends "base.html" %}

{% block content %}

<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for offer in offers %}
        <tr>
            <td>{{ offer.id }}</td>
            <td>{{ offer.title }}</td>
            <td>{{ offer.description }}</td>
            <td>{{ offer.price }}</td>
            <td>
                <a href="{{ url_for('offers.get_offer', offer_id=offer.id) }}" class="button is-primary">
                    View
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
